<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <title>Entertainment Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">

</head>

<body class="bg-dark">

    <!-- Navigation Bar -->
    <section id="header">
        <div class=" container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <h1><span class="fs-4 fw-semibold text-primary">
                            Entertainment Website
                        </span></h1>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/movie" class="nav-link">Top Movies</a></li>
                    <li class="nav-item"><a href="/anime" class="nav-link">Top Anime</a></li>
                    <li class="nav-item"><a href="/game" class="nav-link">Free to Play Games</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                </ul>
            </header>
    </section>