<%- include("partials/header.ejs") %>

    <!-- Carousel -->
    <section id="carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" height="450"
                        src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        alt="first slide">
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" height="450"
                        src="https://cdn.myanimelist.net/images/anime/1015/138006.jpg" alt="second slide">
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" width="315" height="450"
                        src="https://www.freetogame.com/g/582/thumbnail.jpg" alt="third slide" slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Hero -->
    <section id="hero">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-secondary">Not sure what to choose?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-light">Let's pick a random Movie, Anime, or Game for today!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-info"><img class="me-2"
                            src="/assets/images/film-movies-icon.svg" height="50" alt="movie icon">Pick a
                        Movie</span></button>
                    <button type="button" class="btn btn-info"><img class="me-2"
                            src="/assets/images/4043233_anime_away_face_no_nobody_icon.svg" height="50"
                            alt="anime icon">Pick a
                        Anime</button>
                    <button type="button" class="btn btn-info"><img class="me-2"
                            src="/assets/images/2317690_control_device_game_gamepad_games_icon.svg" height="50"
                            alt="game icon">Pick
                        a Game</button>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>