<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body class="bg-dark">

    <!-- Navigation Bar -->
    <section id="header">
        <div class=" container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <h1><span class="fs-4 fw-semibold text-primary">
                            Entertainment Website
                        </span></h1>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Top Movies</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Top Anime</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Free to Play Games</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                </ul>
            </header>
    </section>

    <!-- Carousel -->
    <section id="carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%# if(locals.big_image0){ %>
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" height="450"
                            src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@"
                            alt="first slide">
                        <%# }else{ %>
                            <!-- <p class="text-warning">Something went wrong!</p> -->
                            <%# } %>
                </div>
                <div class="carousel-item">
                    <%# if(locals.big_image1){ %>
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" height="450"
                            src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_QL75_UY562_CR8,0,380,562_.jpg"
                            alt="second slide">
                        <%# }else{ %>
                            <!-- <p class="text-warning">Something went wrong!</p> -->
                            <%# } %>
                </div>
                <div class="carousel-item">
                    <%# if(locals.big_image2){ %>
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block mx-auto" height="450"
                            src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_QL75_UX380_CR0,0,380,562_.jpg"
                            alt="third slide" slide">
                        <%# }else{ %>
                            <!-- <p class="text-warning">Something went wrong!</p> -->
                            <%# } %>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Hero -->
    <section id="hero">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-secondary">Not sure what to choose?</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-light">Let's pick a random Movie, Anime, or Game for today!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-info"><img src="/assets/images/film-movies-icon.svg"
                            alt="movie icon">
                        Pick a Movie</button>
                    <button type="button" class="btn btn-info"><img class="mt-1"
                            src="/assets/images/4043233_anime_away_face_no_nobody_icon.svg" alt="anime icon">Pick a
                        Anime</button>
                    <button type="button" class="btn btn-info"><img class="mt-2"
                            src="/assets/images/2317690_control_device_game_gamepad_games_icon.svg" alt="game icon">Pick
                        a Game</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <section class="footer-background">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 mb-0 bg-gradient">
            <p class="ms-5 text-white">&copy; <span>
                    <%= new Date().getFullYear() %>
                </span> Md. Tanvir Siddique Pramanik. All rights
                reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3 me-2"><a class="link-body-emphasis text-white"
                        href="https://www.linkedin.com/in/tanvirli/"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path
                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                        </svg></a></li>
                <li class="ms-3 me-5"><a class="link-body-emphasis text-white" href="https://github.com/tanvirgb"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                        </svg></a></li>
            </ul>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>