<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_.jpg"
                        class="card-img-top" height="250" alt="first movie">
                    <div class="card-body">
                        <h5 class="card-title">Title: Indiana Jones and the Dial of Destiny</h5>
                        <p class="card-text">Plot: Archaeologist Indiana Jones races against time to retrieve a
                            legendary
                            artifact that can change the course of history.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Release Year: 2023</li>
                        <li class="list-group-item">Country: United States</li>
                    </ul>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="fw-semibold text-primary">Rating: 6.9</p>
                        <a href="https://www.imdb.com/video/vi1610925081/?playlistId=tt1462764&ref_=tt_ov_vi"
                            class="btn btn-primary">View
                            Trailer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>